/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    padding: 20px;
}

/* Título principal */
h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Estilos para las etiquetas h3 */
h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #2c3e50;
}

/* Estilo para los inputs y selects */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilo para los botones */
button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para el div de resultados */
#div-resultados {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#div-resultados h2 {
    text-align: center;
    color: #2980b9;
}

#div-resultados ul {
    list-style-type: none;
    padding-left: 0;
}

#div-resultados li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.1em;
}

#div-resultados li:nth-child(even) {
    background-color: #f1f3f4;
}